.btn-1 {
    display: block;
    width: 100px;
    height: 60px;
    position: relative;
    z-index: 1;
}
.btn-2 {
    position: "realtive";
    z-index: 2;
    background: #f4a;
    padding: 10px;
}

.fancy-modal {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 60vw;
    height: 40vh;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 5px;
    background: #ccc;
    border-radius: 1rem;
    box-shadow: 0 0 6px #000;
    transform: translate(-50%, -50%);
    z-index: 1005;
}

.fancy-modal button {
    display: inline-flex;
    align-self: flex-end;
    justify-self: start;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #0007;
    z-index: 1000;
}